<article class="post">
    <header class="post__header">
        <div class="post__wrapper">
            <h2 class="post__title">title</h2>
            <a class="post__btn btn btn--link" routerLink="/">На главную</a>
        </div>
        <span class="post__author">Автор</span>
        <time>06.05.2020</time>
    </header>
    <main class="post__text">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum id praesentium eius sapiente ex molestias deleniti officia maiores dolorum ratione.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum id praesentium eius sapiente ex molestias deleniti officia maiores dolorum ratione.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum id praesentium eius sapiente ex molestias deleniti officia maiores dolorum ratione.
        </p>
    </main>
</article>