<table *ngIf="isLoading">
    <thead>
        <th>#</th>
        <th>Автор</th>
        <th>Название</th>
        <th>Дата</th>
        <th>Действие</th>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts; index as i">
            <td>{{ i + 1}}</td>
            <td>{{post.author}}</td>
            <td>{{post.title}}</td>
            <td>{{post.date}}</td>
            <td><a class="btn btn-link" [routerLink]="['/admin', 'post', post.id, 'edit' ]">Открыть</a>
            <button class="btn btn-link" (click)="deletePost(post.id)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
